body {margin:0;   background-color: #fafafa;}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:99;
  box-shadow: 2px 2px 2px #999; 
     -moz-box-shadow: 2px 2px 2px #999;
     -webkit-box-shadow: 2px 2px 2px #999;
}

.menu {
	width: 25px;
	float: left;
	display: block;
	margin: auto;
	padding-top: 13px;
	margin-left: 10px;
	
}

.items {
	max-width: 1224px;
	    margin: auto;

}

.menu-items {
  float: left;
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.right-menu-items {
	float: right;
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
	
}

.main {
background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px #e8e8e8; 
max-width: 1000px;
margin: auto;
  padding: 16px;
  margin-top: 30px;
  height: 1400px; /* Used in this example to enable scrolling */
  padding-left: 50px;
	padding-right: 50px;
  
}
.triple {
/* 	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row: 2 / span 2; */
	text-align: center;
}

.icon {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}