

body {margin:0;   background-color: #fafafa;}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index:99;
  box-shadow: 2px 2px 2px #999; 
     -moz-box-shadow: 2px 2px 2px #999;
     -webkit-box-shadow: 2px 2px 2px #999;
}

.menu {
	width: 25px;
	float: left;
	display: block;
	margin: auto;
	padding-top: 13px;
	margin-left: 10px;
	
}


.items {
	max-width: 1224px;
	    margin: auto;
}

.menu-items {
  float: left;
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 1.214em;
  font-family: 'Roboto', sans-serif;
}

.right-menu-items {
	float: right;
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 1.214em;
  font-family: 'Roboto', sans-serif;
	
}

.main {
background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px #e8e8e8; 
max-width: 1000px;
margin: auto;
  padding: 16px;
  margin-top: 30px;
  height: 125vh; /* Used in this example to enable scrolling */
  padding-left: 50px;
	padding-right: 50px;
  
}

.mob-break {display: none;}
.center-text {
	text-align: center;
}

.icon {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
	margin-bottom:10px;
}

h1 {
	font-size: 2.6em !important;
}

h2 {
		font-size: 2.15em !important;
}

p {
	font-size: 1.125em !important;
}

@media (max-width: 800px) {
	.main {
		height: 150vh;
	}
}


@media only screen and (max-device-width: 600px) {
	.menu {
		width: 65px;
	}
	.menu-items {
		text-align: center;
  padding: 14px 16px;
  font-size: 3.237em;
}

.right-menu-items {
	display: none !important;
 /*  padding: 14px 16px;
  font-size: 3.237em; */
	
}
	main {
		  height: 300vh; /* Used in this example to enable scrolling */

	}
h1 {
	font-size: 6.933em !important;
}

h2 {
		font-size: 5em !important;
}
	p {
	font-size: 3em !important;
}
.mob-break {display: block;}
.mob-image {max-width: 100% !important; max-height: 100% !important;}
.mob-left {
	text-align: left;
}
.icon {
	width: 4em;
  height: 4em;
}
}